.DS_Store

# Develop & Example
__tests__
examples
stories
docs
storybook
.vscode
node_modules
build-storybook.log
chromatic.config.json
next-env.d.ts

# Configurations
*.config.js
*.config.mjs
*.ts
*.log

# Keep dist
!dist
